dateutils==0.6.6
Flask==0.10.1
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
mercurial==3.0
py==1.4.26
PyLD==0.6.7
pystache==0.5.4
pytest==2.6.4
python-dateutil==2.4.1
python-memcached==1.53
pytz==2014.10
six==1.9.0
txtbudget==1.0.4
Werkzeug==0.10.1
